.react-calendar {
  width: 100%;
  /* height: 600px; */
}
.react-calendar__tile {
  height: 100px;
}

.summary:hover {
  background-color: red;
}
.react-calendar__month-view__days__day--weekend {
  color: black;
}
.react-calendar__tile--active {
  color: white;
}
