input,
select {
  border: none;
  outline: none;
}
.react-calendar {
  width: 100%;
  /* height: 600px; */
}
.react-calendar__tile {
  height: 100px;
}

/* .summary:hover {
  background-color: red;
} */
.react-calendar__month-view__days__day--weekend {
  color: black;
}
.react-calendar__tile--active {
  color: white;
}
.new-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}
.newBill {
  font-size: 1.5em;
}
.reg-input {
  width: 300px;
  border-bottom: 1px solid black;
  border-radius: 3px;
  padding: 8px;
  margin: 15px;
}
.two-input {
  width: 200px;
}
.newBill span {
  font-size: 0.5em;
}

.CalendarBill {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
input[type='date']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}
