.list-container {
  width: 100%;
  overflow: hidden;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
  margin-bottom: 3.5em;
}
.list-card {
  height: 70px;
  width: 90%;
  border-top: 1px solid rgba(179, 179, 203, 0.3);
}
.list-view-table {
  width: 90%;
  margin-top: 2em;
}
.list-titles tr th {
  font-weight: 900;
  font-size: 1.1em;
}
.page-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.1em;
  width: 90%;
}

.page-list-number {
  margin: 0 6px;
  color: rgb(77, 184, 255);
}
.page-list-number:hover {
  text-decoration: underline;
}
.page-arrow:hover,
.page-list-number:hover {
  cursor: pointer;
}
.page-arrow {
  display: flex;
  padding: 6px;
  font-size: 1.2em;
  border-radius: 6px;
  width: 12px;
  height: 12px;
  justify-content: center;
  align-items: center;
  color: #f7f7f7;
  background-color: rgb(77, 184, 255);
  border: 1px solid rgba(179, 179, 203, 0.5);
  margin: 0 8px;
}
.selected-page {
  color: #5e5e5e;
}
.list-show select {
  width: 60px;
  border: 1px solid rgba(179, 179, 203, 0.5);
}
